// GREYS
$grey-1:#020202;
$grey-2:#070707;
$grey-3:#0c0c0c;
$grey-4:#111111;
$grey-5:#161616;
$grey-6:#1c1c1c;
$grey-7:#212121;
$grey-8:#262626;
$grey-9:#2b2b2b;
$grey-10:#303030;
$grey-11:#353535;
$grey-12:#3a3a3a;
$grey-13:#3f3f3f;
$grey-14:#444444;
$grey-15:#494949;
$grey-16:#4f4f4f;
$grey-17:#545454;
$grey-18:#595959;
$grey-19:#5e5e5e;
$grey-20:#636363;
$grey-21:#686868;
$grey-22:#6d6d6d;
$grey-23:#727272;
$grey-24:#777777;
$grey-25:#7c7c7c;
$grey-26:#828282;
$grey-27:#878787;
$grey-28:#8c8c8c;
$grey-29:#919191;
$grey-30:#969696;
$grey-31:#9b9b9b;
$grey-32:#a0a0a0;
$grey-33:#a5a5a5;
$grey-34:#aaaaaa;
$grey-35:#afafaf;
$grey-36:#b5b5b5;
$grey-37:#bababa;
$grey-38:#bfbfbf;
$grey-39:#c4c4c4;
$grey-40:#c9c9c9;
$grey-41:#cecece;
$grey-42:#d3d3d3;
$grey-43:#d8d8d8;
$grey-44:#dddddd;
$grey-45:#e2e2e2;
$grey-46:#e8e8e8;
$grey-47:#ededed;
$grey-48:#f2f2f2;
$grey-49:#f7f7f7;
$grey-50:#fcfcfc;

// RED
$grey-51:#0c0000;
$grey-52:#110707;
$grey-53:#160f0f;
$grey-54:#1d1515;
$grey-55:#221d1d;
$grey-56:#282424;
$grey-57:#2e2a2a;
$grey-58:#343131;
$grey-59:#3a3535;
$grey-60:#413d3d;
$grey-61:#464242;
$grey-62:#4e4a4a;
$grey-63:#545151;
$grey-64:#5b5757;
$grey-65:#615d5d;
$grey-66:#686363;
$grey-67:#6d6868;
$grey-68:#726d6d;
$grey-69:#777272;
$grey-70:#7c7777;
$grey-71:#878282;
$grey-72:#8c8787;
$grey-73:#918c8c;
$grey-74:#969191;
$grey-75:#9b9696;
$grey-76:#a19d9d;
$grey-77:#a7a3a3;
$grey-78:#adaaaa;
$grey-79:#b4b0b0;
$grey-80:#bab7b7;
$grey-81:#c0bdbd;
$grey-82:#c6c4c4;
$grey-83:#cdcaca;
$grey-84:#d3d1d1;
$grey-85:#d9d7d7;
$grey-86:#dfdede;
$grey-87:#e6e4e4;
$grey-88:#edeaea;
$grey-89:#f4f0f0;
$grey-90:#faf6f6;

// YELLOW
$grey-91:#0c0c00;
$grey-92:#111107;
$grey-93:#16160f;
$grey-94:#1d1d15;
$grey-95:#22221d;
$grey-96:#282824;
$grey-97:#2e2e2a;
$grey-98:#343431;
$grey-99:#3b3b37;
$grey-100:#41413e;
$grey-101:#474744;
$grey-102:#4e4e4a;
$grey-103:#545451;
$grey-104:#5b5b57;
$grey-105:#61615d;
$grey-106:#686863;
$grey-107:#6d6d68;
$grey-108:#72726d;
$grey-109:#777772;
$grey-110:#7c7c77;
$grey-111:#878782;
$grey-112:#8c8c87;
$grey-113:#91918c;
$grey-114:#969691;
$grey-115:#9b9b96;
$grey-116:#a1a19d;
$grey-117:#a7a7a3;
$grey-118:#adadaa;
$grey-119:#b4b4b0;
$grey-120:#babab7;
$grey-121:#c0c0bd;
$grey-122:#c6c6c4;
$grey-123:#cdcdca;
$grey-124:#d3d3d1;
$grey-125:#d9d9d7;
$grey-126:#e0e0de;
$grey-127:#e6e6e4;
$grey-128:#ededea;
$grey-129:#f4f4f0;
$grey-130:#fafaf6;

// GREEN
$grey-131:#000c00;
$grey-132:#071107;
$grey-133:#0f160f;
$grey-134:#151d15;
$grey-135:#1d221d;
$grey-136:#242824;
$grey-137:#2a2e2a;
$grey-138:#313431;
$grey-139:#373b37;
$grey-140:#3e413e;
$grey-141:#444744;
$grey-142:#4a4e4a;
$grey-143:#515451;
$grey-144:#575b57;
$grey-145:#5d615d;
$grey-146:#636863;
$grey-147:#686d68;
$grey-148:#6d726d;
$grey-149:#727772;
$grey-150:#777c77;
$grey-151:#828782;
$grey-152:#878c87;
$grey-153:#8c918c;
$grey-154:#919691;
$grey-155:#969b96;
$grey-156:#9da19d;
$grey-157:#a3a7a3;
$grey-158:#aaadaa;
$grey-159:#b0b4b0;
$grey-160:#b7bab7;
$grey-161:#bdc0bd;
$grey-162:#c4c6c4;
$grey-163:#cacdca;
$grey-164:#d1d3d1;
$grey-165:#d7d9d7;
$grey-166:#dee0de;
$grey-167:#e4e6e4;
$grey-168:#eaedea;
$grey-169:#f0f4f0;
$grey-170:#f6faf6;

// CYAN
$grey-171:#000c0c;
$grey-172:#071111;
$grey-173:#0f1616;
$grey-174:#151d1d;
$grey-175:#1d2222;
$grey-176:#242828;
$grey-177:#2a2e2e;
$grey-178:#313434;
$grey-179:#373b3b;
$grey-180:#3e4141;
$grey-181:#444747;
$grey-182:#4a4e4e;
$grey-183:#515454;
$grey-184:#575b5b;
$grey-185:#5d6161;
$grey-186:#636868;
$grey-187:#686d6d;
$grey-188:#6d7272;
$grey-189:#727777;
$grey-190:#777c7c;
$grey-191:#828787;
$grey-192:#878c8c;
$grey-193:#8c9191;
$grey-194:#919696;
$grey-195:#969b9b;
$grey-196:#9da1a1;
$grey-197:#a3a7a7;
$grey-198:#aaadad;
$grey-199:#b0b4b4;
$grey-200:#b7baba;
$grey-201:#bdc0c0;
$grey-202:#c4c6c6;
$grey-203:#cacdcd;
$grey-204:#d1d3d3;
$grey-205:#d7d9d9;
$grey-206:#dee0e0;
$grey-207:#e4e6e6;
$grey-208:#eaeded;
$grey-209:#f0f4f4;
$grey-210:#f6fafa;

// BLUE
$grey-211:#00000c;
$grey-212:#070711;
$grey-213:#0f0f16;
$grey-214:#15151d;
$grey-215:#1d1d22;
$grey-216:#242428;
$grey-217:#2a2a2e;
$grey-218:#313134;
$grey-219:#37373b;
$grey-220:#3e3e41;
$grey-221:#444447;
$grey-222:#4a4a4e;
$grey-223:#515154;
$grey-224:#57575b;
$grey-225:#5d5d61;
$grey-226:#636368;
$grey-227:#68686d;
$grey-228:#6d6d72;
$grey-229:#727277;
$grey-230:#77777c;
$grey-231:#828287;
$grey-232:#87878c;
$grey-233:#8c8c91;
$grey-234:#919196;
$grey-235:#96969b;
$grey-236:#9d9da1;
$grey-237:#a3a3a7;
$grey-238:#aaaaad;
$grey-239:#b0b0b4;
$grey-240:#b7b7ba;
$grey-241:#bdbdc0;
$grey-242:#c4c4c6;
$grey-243:#cacacd;
$grey-244:#d1d1d3;
$grey-245:#d7d7d9;
$grey-246:#dedee0;
$grey-247:#e4e4e6;
$grey-248:#eaeaed;
$grey-249:#f0f0f4;
$grey-250:#f6f6fa;

// MAGENTA
$grey-251:#0c000c;
$grey-252:#110711;
$grey-253:#160f16;
$grey-254:#1d151d;
$grey-255:#221d22;
$grey-256:#282428;
$grey-257:#2e2a2e;
$grey-258:#343134;
$grey-259:#3a383a;
$grey-260:#413e41;
$grey-261:#474447;
$grey-262:#4e4a4e;
$grey-263:#545154;
$grey-264:#5b575b;
$grey-265:#615d61;
$grey-266:#686368;
$grey-267:#6d686d;
$grey-268:#726d72;
$grey-269:#777277;
$grey-270:#7c777c;
$grey-271:#878287;
$grey-272:#8c878c;
$grey-273:#918c91;
$grey-274:#969196;
$grey-275:#9b969b;
$grey-276:#a19da1;
$grey-277:#a7a3a7;
$grey-278:#adaaad;
$grey-279:#b4b0b4;
$grey-280:#bab7ba;
$grey-281:#c0bdc0;
$grey-282:#c6c4c6;
$grey-283:#cdcacd;
$grey-284:#d3d1d3;
$grey-285:#d9d7d9;
$grey-286:#e0dee0;
$grey-287:#e6e4e6;
$grey-288:#edeaed;
$grey-289:#f4f0f4;
$grey-290:#faf6fa;

// RED - YELLOW
$grey-291:#cdcbca;
$grey-292:#d9d8d7;

// YELLOW - GREEN
$grey-293:#cccdca;
$grey-294:#d9d9d7;

// GREEN - CYAN
$grey-295:#cacdcc;
$grey-296:#d7d9d9;

// CYAN - BLUE
$grey-297:#cacccd;
$grey-298:#d7d9d9;

// BLUE - MAGENTA
$grey-299:#cccacd;
$grey-300:#d9d7da;